[user]
	name = gordon.lee
	email = gordon.lee@okg.com
[pull]
	rebase = false
[init]
	defaultBranch = main
[github]
	user = g0rdonL
[push]
	default = current
[core]
	editor = vim
	autocrlf = input

[alias]
    set-upstream = \
       !git branch \
           --set-upstream-to=origin/`git symbolic-ref --short HEAD`
